---
title: About us
permalink: /about.html
author: Janet Doe
layout: base
---

<p>This is the <strong>{{ title }}</strong> page.</p>

<footer>
  <hr/>
  <p>Author: {{ author }}</p>
  <p>Permalink: {{ page.url | url }}</p>
  <p>Permalink: {{ page.url | url | stripLeadingSlash }}</p>
  <p>Permalink: {{ page.url | stripLeadingSlash }}</p>
</footer>
